{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="http:////spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<div id="page-wrapper">
        <header id="main-header">
            <img src="../../../static/img/WAGI logo.png" alt="logo">
            <nav id="main-navigation">
                <ul class="menu">
                    <li class="menu-item" onclick="window.location.href='../activities/templates/activities.html'">Activities</li>
                    <li class="menu-item" onclick="window.location.href='../people/templates/people.html'">People</li>
                    <li class="menu-item" onclick="window.location.href='../joinResult/templates/join_result.html'">Join</li>
                    <li class="menu-item" onclick="window.location.href='../notice/templates/Notice_main.html'">Notice</li>
                </ul>
            </nav>
        </header>
        <body>
            <div class="admin-login-container">
                <div class="top-bar"></div>

                <!-- 로그인 컨테이너 -->
                <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="login-container">
                    <div class="white-box"></div>
                    <div class="login-message">관리자모드를 이용하려면 로그인을 해주세요 🤩</div>

                    <!-- 아이디 입력 -->
                    <div class="id-button" style="top: 125px; left: 150px;">아이디</div>
                    <input name="username" type="text" class="placeholder" placeholder="아이디를 입력해주세요." style="position: absolute; top: 175px; left: 150px;">

                    <div class="password-button" style="top: 245px; left: 150px;" >비밀번호</div>
                    <input name="password" type="password" class="placeholder" placeholder="비밀번호를 입력해주세요." style="position: absolute; top: 295px; left: 150px;">

                    <div class="in-button">
                        <button type="submit" style="top: 385px; left: 330px;">이전으로</button>
                    </div>

                    <!-- 로그인 버튼 -->
                    <div class="in-button">
                        <button type="submit" style="top: 385px; left: 453px;">로그인</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </body>
</html>