{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link href="{% static 'css/actiivties.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http:////spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css">
    <script src="{% static 'js/activities.js' %}"></script>
</head>

<body>
    <div id="activities_main" hidden></div><!--js 처리용 div-->
    <header id="main-header">
        <img src="{% static 'img/WAGI logo.png' %}" alt="logo">
        <nav id="main-navigation">
            <ul class="menu">
                <li class="menu-item" id="">
                    <a href="activities.html">Activities</a>
                </li>
                <li class="menu-item" id="">
                    <a href="">People</a>
                </li>
                <li class="menu-item" id="apply">
                    <a href={% url 'joinResult:join_button' %}>JOIN</a>
                </li>
                <li class="menu-item" id="">
                    <a href="">Notice</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content"><!--헤더 밑-->
        <div id="button_area"><!--버튼 공간 (없음)--></div>
        <div id="item_area"><!--수정 버튼 밑-->
            <div id="article"><!--모든 앨범-->
                <!--MT-->
                {% if images %}
                <div class="item" id="mt"><!--앨범 및 앨범 이름-->
                    <div class="album"><!--앨범-->
                        <div class="prev_button" id="mt_prev_button">&lt;</div>
                        <div class="next_button" id="mt_next_button">&gt;</div>
                        <div class="img_box">
                            <div class="img_area clearfix" id="mt_img_area">
                                <!-- {% for image in images %}
                                    <div class="img_content size_original">
                                        {% for i in range(3) %}
                                            {% if image.mt_image %}
                                                <img src="{{ image.mt_image.url }}" alt="MT Image">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %} -->
                                <div id="mt_img_content" class="img_content size_original">
                                    <img src="../../static/img/mt_images/ex1.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex2.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex3.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex4.jpg" alt="MT Image">
                                </div>
                                <div id="mt_img_content" class="img_content size_original">
                                    <img src="../../static/img/mt_images/ex5.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex6.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex7.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex8.jpg" alt="MT Image">
                                </div>
                                <div id="mt_img_content" class="img_content size_original">
                                    <img src="../../static/img/mt_images/ex9.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex10.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex11.jpg" alt="MT Image">
                                    <img src="../../static/img/mt_images/ex12.jpg" alt="MT Image">
                                </div>
                            </div>
                            <p hidden>사진이 없습니다.</p>
                            <div id="mtModal" class="modal">
                                <img class="modal-content" id="mtModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">MT</div> <!--앨범 이름-->
                </div>
                <!--이하 동일-->
                <!--study-->
                <div class="item" id="study"><!--앨범 및 앨범 이름-->
                    <div class="album"><!--앨범-->
                        <div class="prev_button" id="study_prev_button">&lt;</div>
                        <div class="next_button" id="study_next_button">&gt;</div>
                        <div class="img_box">
                            <div class="img_area clearfix" id="study_img_area">
                                <!-- {% for image in images %}
                                    <div class="img_content size_original">
                                        {% for i in range(3) %}
                                            {% if image.study_image %}
                                                <img src="{{ image.study_image.url }}" alt="study Image">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %} -->
                                <div id="study_img_content" class="img_content size_original">
                                    <img src="../../static/img/study_images/ex1.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex2.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex3.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex4.jpg" alt="Study Image">
                                </div>
                                <div id="study_img_content" class="img_content size_original">
                                    <img src="../../static/img/study_images/ex5.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex6.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex7.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex8.jpg" alt="Study Image">
                                </div>
                                <div id="study_img_content" class="img_content size_original">
                                    <img src="../../static/img/study_images/ex9.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex10.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex11.jpg" alt="Study Image">
                                    <img src="../../static/img/study_images/ex12.jpg" alt="Study Image">
                                </div>
                            </div>
                            <p hidden>사진이 없습니다.</p>
                            <div id="studyModal" class="modal">
                                <img class="modal-content" id="studyModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Study</div> <!--앨범 이름-->
                </div>
                <!--project-->
                <div class="item" id="project"><!--앨범 및 앨범 이름-->
                    <div class="album"><!--앨범-->
                        <div class="prev_button" id="project_prev_button">&lt;</div>
                        <div class="next_button" id="project_next_button">&gt;</div>
                        <div class="img_box">
                            <div class="img_area clearfix" id="project_img_area">
                                <!-- {% for image in images %}
                                    <div class="img_content size_original">
                                        {% for i in range(3) %}
                                            {% if image.project_image %}
                                                <a>
                                                    <img src="{{ image.project_image.url }}" alt="project Image">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %} -->
                                <div id="project_img_content" class="img_content size_original">
                                    <a href="">
                                        <img src="../../static/img/project_images/ex1.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex2.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex3.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex4.jpg" alt="Project Image">
                                    </a>
                                </div>
                                <div id="project_img_content" class="img_content size_original">
                                    <a href="">
                                        <img src="../../static/img/project_images/ex5.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex6.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex7.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex8.jpg" alt="Project Image">
                                    </a>
                                </div>
                                <div id="project_img_content" class="img_content size_original">
                                    <a href="">
                                        <img src="../../static/img/project_images/ex9.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex10.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex11.jpg" alt="Project Image">
                                    </a>
                                    <a href="">
                                        <img src="../../static/img/project_images/ex12.jpg" alt="Project Image">
                                    </a>
                                </div>
                            </div>
                            <p hidden>사진이 없습니다.</p>
                            <div id="projectModal" class="modal">
                                <img class="modal-content" id="projectModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Project</div> <!--앨범 이름-->
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>