<!DOCTYPE html>
<html>
<head>
    <title>Edit Images</title>
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .image-container img {
            width: 200px;
            height: auto;
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 5px;
        }

        .image-container li {
            list-style: none;
        }

        .checkbox-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<h2>Edit Images</h2>

<form method="post">
    {% csrf_token %}
    
    <div class="image-container">
        <h3>Mt Images:</h3>
        <ul>
            {% for image in mt_images %}
                <li>
                    {% if image.mt_image %}
                        <img src="{{ image.mt_image.url }}" alt="MT Image">
                        <label>
                            <input type="checkbox" name="delete_mt_images" value="{{ image.id }}">
                        </label>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="image-container">
        <h3>Study Images:</h3>
        <ul>
            {% for image in study_images %}
                <li>
                    {% if image.study_image %}
                        <img src="{{ image.study_image.url }}" alt="Study Image">
                        <label>
                            <input type="checkbox" name="delete_study_images" value="{{ image.id }}">
                        </label>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="image-container">
        <h3>Project Images:</h3>
        <ul>
            {% for image in project_images %}
                <li>
                    {% if image.project_image %}
                        <img src="{{ image.project_image.url }}" alt="Project Image">
                        <label>
                            <input type="checkbox" name="delete_project_images" value="{{ image.id }}">
                        </label>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="checkbox-container">
        <button type="submit">선택한 파일 삭제하기</button>
    </div>
</form>

<form action="{% url 'upload_activity' %}" method="get">
    <button type="submit">사진 다시 업로드하기</button>
</form>

</body>
</html>


