{% extends "basic.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/activities.css' %}"> 
    <div id="activities_main" hidden></div><!--js 처리용 div-->
    <div id="success_page" hidden></div><!--js 처리용 div-->
    <div id="content"><!--헤더 밑-->
        <div id="button_area"><!--버튼 공간 (없음)--></div>
        <div id="item_area"><!--버튼 밑-->    
            <div id="item_area"><!--모든 앨범-->
                <!-- MT -->
                <div class="item" id="mt">
                    <br>
                    <div class="album">
                        <div class="prev_button" id="mt_prev_button">&lt;</div>
                        <div class="next_button" id="mt_next_button">&gt;</div>
                        <div class="img_box">
                            {% if images %}
                                <div class="img_area clearfix" id="mt_img_area">
                                    {% for image in images %}
                                        {% if image.mt_image %}
                                                <div id="mt_img_content" class="img_content size_original">
                                                    {% for i in "1234" %}
                                                        <img src="{{ image.mt_image.url }}" alt="MT Image">
                                                    {% endfor %}
                                                </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p hidden>사진이 없습니다.</p>
                            {% endif %}
                            <div id="mtModal" class="modal">
                                <img class="modal-content" id="mtModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">MT</div>
                </div>
                <!-- Study -->
                <div class="item" id="study">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="album">
                        <div class="prev_button" id="study_prev_button">&lt;</div>
                        <div class="next_button" id="study_next_button">&gt;</div>
                        <div class="img_box">
                            {% if images %}
                                <div class="img_area clearfix" id="study_img_area">
                                    {% for image in images %}
                                        {% if image.study_image %}
                                            <div id="study_img_content" class="img_content size_original">
                                                {% for i in "1234" %}
                                                    <img src="{{ image.study_image.url }}" alt="Study Image">
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}    
                                </div>
                            {% else %}
                                <p hidden>사진이 없습니다.</p>
                            {% endif %}
                            <div id="studyModal" class="modal">
                                <img class="modal-content" id="studyModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Study</div>
                </div>
                <!-- Project -->
                <div class="item" id="project">
                    <br>
                    <div class="album">
                        <div class="prev_button" id="project_prev_button">&lt;</div>
                        <div class="next_button" id="project_next_button">&gt;</div>
                        <div class="img_box">
                            {% if images %}
                                <div class="img_area clearfix" id="project_img_area">
                                    {% for image in images %}
                                        {% if image.project_image %}
                                            <div id="project_img_content" class="img_content size_original">
                                                {% for i in "1234" %}
                                                    <img src="{{ image.project_image.url }}" alt="Project Image">
                                                {% endfor %}   
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %} 
                                <p hidden>사진이 없습니다.</p>
                            {% endif %}
                            <div id="projectModal" class="modal">
                                <img class="modal-content" id="projectModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Project</div>
                </div>
            </div>    
        </div>
    </div>
    <script defer src="{% static 'js/activities.js' %}"></script>
{% endblock %}