{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>WAGI JOIN</title>
  <link rel="stylesheet"  href="{% static 'css/join_result.css' %}">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  
 </head>
 <body style="background-color: black; color: white;"> 
   <div id="page-wrapper">
      <header id="main-header">
           <img src="{% static 'img/WAGI logo.png' %}" alt="WAGI logo image">
           <nav id="main-navigation">
               <ul class="menu">
                   <li class="menu-item">Activities</li> 
                   <li class="menu-item">People</li>
                   <li class="menu-item" id="apply"><a href="{% url 'joinResult:join_button' %}">JOIN</a></li>
                   <li class="menu-item">Notice</li>
               </ul> 
            </nav> 
      </header>
    <!-- 합격자 조회 버튼-->
    <div id="content">
        <div id="main-section">
            <div id="합격자 조회">
                <h1 id="title">합격자 조회</h1>
                <form id="search" method='post' action="{% url 'joinResult:result' %}">
                    {% csrf_token %}
                    {% if isDate == 2 %}
                    <input id="input_studentNum" type="text" name="inputId" placeholder="학번을 입력하세요.">
                    <a href="{% url 'joinResult:result' %}">
                        <button id="btn_studentNum"><img src="{% static 'img/검색_아이콘.png' %}"></button>
                    </a>
                    {%endif%}
                    {% if isDate == 0 or isDate == 1 %}
                    <input id="input_studentNum" type="text" name="inputId" placeholder="학번을 입력하세요.", disabled>
                    <a href="{% url 'joinResult:result' %}">
                        <button id="btn_studentNum" disabled><img src="{% static 'img/검색_아이콘.png' %}"></button>
                    </a>
                    {%endif%}
                </form>
            </div>
  
            <!--지원서 제출 버튼-->
            <form method='post' action="{% url 'joinResult:write_form' %}">
                {% csrf_token %}
                {% if isDate == 1 %}
                <a href="{% url 'joinResult:write_form' %}">
                    <button id="btn_apply">지원서 제출</button>
                </a>
                {%endif%}
                {% if isDate == 0 or isDate == 2 %}
                <a href="{% url 'joinResult:write_form' %}">
                    <button id="btn_apply" disabled>지원서 제출</button>
                </a>
                {%endif%}
            </form>
        </div>
    </div>
    
<!--메일 입력창-->
<div class="modal_unavailable">
    <div class="modal-box1">
        <img class="imgWagi" src="{% static 'img/아기와기.png' %}">
        <button id="close-modal" style="padding-bottom: 3px;">✕</button>
        <p>
            <br>
            <br>
        </p>
        <div class="modal-content1">
            <h2 class="message">지금은 모집 기간이 아니에요!</h2>
            <h4 class="message">아래의 메일을 입력해주시면<br>모집 기간에 안내 메일을 발송해드립니다.</h4>
            <form id="email" method="post" href="{% url 'joinResult:writeMail' %}">
               {% csrf_token %}
               <div class="email">
                   <input class="input_email" type="email" name="email" placeholder="메일을 입력해주세요." required="required">
               </div>
               <div class="out_text">
                  <span>해당 주소로 메일을 보내드리겠습니다.</span>
               </div>
          </form>
          
      </div>
      <div class="up">
          <p class="up_message"></p>
      </div>
    </div>
</div>
  <!--합격자 발표창_합격-->
   <div class="modal_pass">
      <div class="modal-box2">
          <img class="imgWagi" src="{% static 'img/아기와기.png' %}">
          <div class="modal-content2">
              <h2 class="message"><p id="p_stdId" style="display:inline;"></p>&nbsp;<p id="p_stdName" style="display:inline;"></p>님!</h2>
              <h4 class="message">WAGI 신입부원 모집에<br>최종합격 하신 것을 진심으로 축하드립니다!</h4>
              <div class="OT_info">
                  <div class="OT_message">
                      <h4 style="margin-top: 14px;">OT일정을 안내드립니다.</h4>
                      <h4>
                          일시: 2024년 3월 7일 목요일 6시
                          <br>
                          장소: 성신관 301호
                      </h4>
                      <h5>*노트북 없이 와도 됩니다!</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--불합격자 발표창_합격-->
  <div class="modal_fail">
      <div class="modal-box3">
          <img class="imgWagi" src="{% static 'img/아기와기.png' %}">
          <div class="modal-content3">
              <h2 class="message"><p id="f_stdId" style="display:inline;"></p>&nbsp;<p id="f_stdName" style="display:inline;"></p>님</h2>
              <div class="failure_message">
                      <h4 style="margin-top: 20px;">
                          WAGI 신입부원 모집에
                          <br>
                          안타깝게 불합격 하셨습니다.
                          <br>
                          당신의 미래를 응원합니다.
                      </h4>
              </div>
          </div>
      </div>
  </div>


  <script>
    // 메일 입력 창
   $(document).ready(function () {
      $("#apply").click(function (e) { //join버튼 누름
        e.preventDefault();

        if ({{ isDate }} === 0) {
           $(".modal_unavailable").show(); // 메일창 띄우기 
 
           const closeModal = document.querySelector('#close-modal'); // 모달 닫기 버튼 
           var input = document.querySelector('.input_email');
           closeModal.addEventListener("click", ()=>{
              $(".modal_unavailable").hide();
              input.value=null; //이메일 입력하다가 모달창 닫았을 때 input창 리셋
           });
        }
    });
    $("#email").submit(function (event) {
        event.preventDefault();
        var userEmail = $(".input_email").val();
               $.ajax({
                   url :  '{% url "joinResult:writeMail" %}',
                   method: "POST",
                   headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                     },
                   cache: false,
                   data: {
                    'email': userEmail,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' 
                    },

                   dataType: 'json',
                   success: function (data) {
                       if (data.works) {
                                
                                    $( '.message_2' ).animate({ 
                                        opacity: 0
                                    }, 100 , event.preventDefault());
                        
                                    $('.email').css('display', 'none');
                                    $( '.out_text' ).addClass( 'on' );
                        
                                
                       } else if (data.noEmail) {
                            alert('이메일 주소를 입력해주세요.');
                       } else if (data.wrongEmail) {
                            alert('올바른 이메일 주소 형식이 아닙니다.');
                       } else if(data.emailExists){
                            alert('입력하신 이메일이 이미 등록되어있습니다.');
                       }
                    },  
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });

   // Enter 키 이벤트 감지
   $("#input_email").keyup(function (e) {
        if (e.keyCode === 13) { // Enter 키 코드
           e.preventDefault();
           var userEmail = $("#input_email").val();
           sendAjaxRequest(userEmail);
        }
    });

    
    

  // 합불여부
  $(document).ready(function () {
    
     $("#btn_studentNum").click(function (e) {
        e.preventDefault();
         checkResult();
     });

     function checkResult() {
         const inputId = $("#input_studentNum").val();
         $.ajax({
             url:"{% url 'joinResult:result' %}",
             method: "POST",
             headers: {
                 'Content-Type': 'application/x-www-form-urlencoded',
                 'X-CSRFToken': '{{ csrf_token }}'
             },
             data: { 'inputId': inputId },
             dataType: "json",
             success: function (data) {
                 $(".modal_pass, .modal_fail").hide();
                 if (data.result === 'pass') {
                     $("#p_stdId").text(data.number);
                     $("#p_stdName").text(data.name);
                     $(".modal_pass").show();
                 } else if (data.result === 'fail') {
                     $("#f_stdId").text(data.number);
                     $("#f_stdName").text(data.name);
                     $(".modal_fail").show();
                 }
             },
             error: function (error) {
                 console.error('Error:', error);
             }
         });
         
     }
  });
 
        // 외부영역 클릭 시 팝업 닫기
        $(document).mouseup(function (e) {
            var LayerPopup = $(".modal_pass, .modal_fail");
            if (LayerPopup.has(e.target).length === 0) {
                $(".modal_pass, .modal_fail").hide();
            }
        });

// 이메일 제출 후 모달 창 닫았을 때 리셋
$(document).ready(function() {
    $('#close-modal').on('click', function() {

        $('.message_2').css('opacity', '100');
        $('.email').css('display', 'flex');
        $( '.out_text' ).removeClass( 'on' );
    });
});
  </script>
 </body>
</html>