<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People List</title>
</head>
<body>
    <h1>People List</h1>
    
    {% for person in people_data %}
        <div>
            <h2>{{ person.user_name }}</h2>
            <p>Bio: {{ person.use_bio }}</p>
            <img src="{{ person.user_image.url }}" alt="User Image">
            <p>Portfolio: <a href="{{ person.user_portfolio }}" target="_blank">{{ person.user_portfolio }}</a></p>
            <p>Generation Number: {{ person.generation_number }}</p>
        </div>
    {% endfor %}
</body>
</html>
