#parentContainer {
    position: relative;
}

#regularActivity, #event, #competition, #allContent, #regularActivityContent, #eventContent, #competitionContent, .content, #writings {
    position: absolute;
}

#notices {
    position: absolute;
    top: 202px;
    left: 57px;
    width: 121px;
    height: 44px;
    border-radius: 20px;
    background-color: #9EA9D7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#regularActivity {
    top: 259px;
    left: 163px;
    width: 102px;
    height: 39px;
    border-radius: 20px;
    border: 0.7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

#event {
    top: 259px;
    left: 282px;
    width: 102px;
    height: 39px;
    border-radius: 20px;
    border: 0.7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

#competition {
    top: 259px;
    left: 401px;
    width: 102px;
    height: 39px;
    border-radius: 20px;
    border: 0.7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

#allContent {
    width: 1014px;
    height: 475px;
    top: 327px;
    left: 133px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px; 
}
.box{
    color: black;
    position: absolute;
    margin-top: 20px;
}

.box a {
    color: inherit; 
    text-decoration: none; 
    background-color: transparent; 
    display: inline;
}

.category {
    left: 35px;
    color: #9EA9D7;
    width: 62.03px;
    height: 20px;
    border: 0.8px solid #9EA9D7;
    position: relative;
}

.notice-title {
    left: 84px;
    position: relative;
}


#allContent ul li {
    margin-bottom: 56px;
    position: relative;
    left: 35px;
}

#allContent ul li::after {
    content: "";
    position: absolute;
    width: 944px;
    top: 69px; 
    left: 44%; 
    transform: translateX(-50%); 
    border: 1.2px solid #000000;
}


.write-time {
    left: 42px; 
}


#regularActivityContent, #eventContent, #competitionContent {
    width: 1014px;
    height: 475px;
    top: 327px;
    left: 133px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px; 

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-footer div {
    display: flex;
    gap: 20px;
}

.selected {
    background-color: gray;
    color: black;
}

.content {
    display: none;
    position: absolute;
    top: 297px;
    left: 133px;
    width: 1014px;
    height: 475px;
    border-radius: 20px;
    background-color: white;
}

#allContent {
    display: block; 
}
#writings {
    top: 202px;
    left: 206px;
    width: 91px;
    height: 44px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 0.7px solid white;
}

#writings span {
    font-size: 16.2px; 
}

