{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAGI 웹 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Notice_manager_writing' %}">
</head>
<body>

    <form action="{% url 'notice_create' %}" method="POST">
        {% csrf_token %}
        <div id="notices" class="notice"><span>공지사항</span></div>
        <div id="writings" class="writing"><span>글 작성</span></div>
        <input type="button" id="regularActivity" name="regularActivity" class="round-button" onclick="showContent('regularActivity')" value="정기활동">
        <input type="button" id="event" name="event" class="round-button" onclick="showContent('event')" value="행사">
        <input type="button" id="competition" name="competition" class="round-button" onclick="showContent('competition')" value="공모전">        
        <div id="writingZone"></div>
        <textarea id="titleWriting" name="message" rows="4" cols="50" placeholder="제목을 입력해주세요"></textarea>
        <textarea id="contentsWriting" name="message2" rows="10" cols="50" placeholder="내용을 입력해주세요"></textarea>
        <label for="profile" class="round-button" id="addPhotoLabel">
            <span>사진추가</span>
        </label>
        <input type="file" id="profile" accept="image/png, image/jpeg" required multiple style="display: none;">

        <input type="button" id="signUp" value="등록하기">
    </form>

    <script src="{% static 'js/Notice_manager_writing.js' %}"></script>
</body>
</html>