{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAGI 웹 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Notice_manager_record.css' %}">
</head>
<body>

    <div id="notices" class="notice"><span>공지사항</span></div>
    <div id="writings" class="writing"><span>글 작성</span></div>

    <form>
        {% csrf_token %}
        <input type="button" id="regularActivity" class="round-button" value="정기활동">
        <input type="button" id="event" class="round-button" value="행사">
        <input type="button" id="competition" class="round-button" value="공모전">
        <div id="writingZone"></div>
        <p id="titleWriting" name="message" rows="4" cols="50">
            &nbsp;{{ notice.notion_title }} 
        </p>
        <div id="contentsWriting" name="message2" rows="10" cols="50"><p> &nbsp;{{ notice.notion_text }}</p>
            {% if images %}
                <ul>
                {% for image in images %}
                    <img src="{{ image.image.url }}" alt="Image" width="30%">
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button id="editButton"><span>수정하기</span></button>
        <p id="date" style="font-size: 5px;" >{{ notice.write_time }}</p>
        
        <p id="real_date" name="message2" rows="1" cols="50" readonly></p>
    </form>

    <script src="{% static 'js/Notice_manager_record.js' %}"></script>
</body>
</html>