{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WAGI 웹 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Notice_main.css' %}">
</head>
<body>
    <div id="notices" class="notice"><span>공지사항</span></div>
    <a href="{% url 'get_notices_by_category' %}?category=regularActivity">
        <input type="button" id="regularActivity" class="round-button" onclick="showContent('regularActivity')" value="정기활동">
    </a>
    <a href="{% url 'get_notices_by_category' %}?category=event">
        <input type="button" id="event" class="round-button" onclick="showContent('event')" value="행사">
    </a>
    <a href="{% url 'get_notices_by_category' %}?category=competition">
        <input type="button" id="competition" class="round-button" onclick="showContent('competition')" value="공모전">
    </a>
    

    <div id="allContent" class="content">
        <ul>
        {% for notice in notices %}
            <li>
                <div class="box">{{ notice.write_time }}</div>
                <div class="box">{{ notice.category}}</div><!--피그마 보니까 카테고리랑 작성일자도 있는데 이거 넣을게 없어서 만들었어 이거 디자인 필요-->
                <a href="{% url 'notice_detail' notion_id=notice.id %}">{{ notice.notion_title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    <div id="regularActivityContent" class="content">
        <ul>
            {% for notice in notices %}
                <li><a href="{% url 'notice_detail' notion_id=notice.id %}">{{ notice.notion_title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="eventContent" class="content">
        <ul>
            {% for notice in notices %}
                <li><a href="{% url 'notice_detail' notion_id=notice.id %}">{{ notice.notion_title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="competitionContent" class="content">
        <ul>
            {% for notice in notices %}
                <li><a href="{% url 'notice_detail' notion_id=notice.id %}">{{ notice.notion_title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'js/Notice_main.js' %}"></script>
</body>
</html>