{% extends 'basic.html' %}
{% load static %}

    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Notice_manager_record.css' %}">
    <a  href="{% url 'notice:notice_list' %}"><div id="notices" class="notice"><span>공지사항</span></div>
    <a href="{% url 'notice:notice_create' %}"><input type="button" id="writings" class="writing" value="글 작성"></a>

    <form action="{% url 'notice:edit_notice' notion_id=notice.id %}" method="GET">
        {% csrf_token %}
        <input type="button" id="regularActivity" class="round-button" name="regularActivity" onclick="updateHiddenValue(this)" value="정기활동">
        <input type="button" id="event" class="round-button" name="event" onclick="updateHiddenValue(this)" value="행사">
        <input type="button" id="competition" class="round-button" name="competition" onclick="updateHiddenValue(this)" value="공모전">
        <input type="hidden" id="selectedCategory" name="selectedCategory" value="{{ notice.category }}">  
        <div id="writingZone">
            <textarea id="titleWriting" name="notion_title" rows="4" cols="50" readonly>{{ notice.notion_title }}</textarea>
                
            <div id="contentsWriting" name="message2" ><textarea  name="notion_text" readonly>{{ notice.notion_text }}</textarea>
                {% if images %}
                    <ul>
                    {% for image in images %}
                        <img src="{{ image.image.url }}" alt="Image" width="30%">
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% if user.is_superuser %}
        <input type="submit" id="editButton" value="수정하기">
        {% endif %}
        
        <p id="date" style="font-size:10px">{{ notice.write_time }}</p>
        
        <p id="real_date" name="message2" rows="1" cols="50" readonly></p>
    </form>

    <script src="{% static 'js/Notice_manager_record.js' %}"></script>
    {% endblock %}
