Notice_main.html
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WAGI 웹 페이지</title>
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="Notice_main.css">
</head>
<body>
    <div id="notices" class="notice"><span>공지사항</span></div>

    
        <input type="button" id="regularActivity" class="round-button" onclick="showContent('regularActivity')" value="정기활동">
        <input type="button" id="event" class="round-button" onclick="showContent('event')" value="행사">
        <input type="button" id="competition" class="round-button" onclick="showContent('competition')" value="공모전">

        <textarea id="allContent" class="content" readonly>모든 활동 내용</textarea>
        <textarea id="regularActivityContent" class="content" readonly>&nbsp;정기활동 내용</textarea>
        <textarea id="eventContent" class="content" readonly>&nbsp;행사 내용</textarea>
        <textarea id="competitionContent" class="content" readonly>&nbsp;공모전 내용</textarea>
 

    <script src="Notice_main.js"></script>
</body>
</html>